<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>About ASI</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>About ASI</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->
<!--======  Start About Section  ======-->
<section class="renvia-about_two pt-120 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <!-- Renvia Image Box -->
                <div class="renvia-image-box mb-5 mb-xl-0" data-aos="fade-up" data-aos-duration="1000">
                    <div class="renvia-image">
                        <img src="assets/images/overview.jpg" alt="about image">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <!-- Renvia Content Box -->
                <div class="renvia-content-box">
                    <div class="section-title">
                        <span class="sub-title" data-aos="fade-up" data-aos-duration="1000">About Archaeological Survey of India (ASI)<img src="assets/images/line2.png" alt="line"></span>
                        <h2 class="text-anm">Overview</h2>
                    </div>
                    <p data-aos="fade-up" data-aos-duration="1000"><span style="font-weight: 400;">The Archaeological Survey of India (ASI), under the Ministry of Culture, is the premier organization for the archaeological researches and protection of the cultural heritage of the nation. Maintenance of ancient monuments and archaeological sites and remains of national importance is the prime concern of the ASI. Besides it regulate all archaeological activities in the country as per the provisions of the Ancient
                            Monuments and Archaeological Sites and Remains Act, 1958. It also regulates Antiquities and Art Treasure Act, 1972.</span></p>
                    <p data-aos="fade-up" data-aos-duration="1000"><span style="font-weight: 400;">For the maintenance of ancient monuments and archaeological sites and remains of national importance the entire country is divided into 37 Circles. The organization has a large work force of trained archaeologists, conservators, epigraphist, architects and scientists for conducting archaeological research projects through its Circles, Museums, Excavation Branches, Prehistory Branch, Epigraphy Branches, Science Branch,
                            Horticulture Branch, Building Survey Project, Temple Survey Projects and Underwater Archaeology Wing.</span></p>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End About Section  ======-->
<section class="renvia-award_two1 pt-115">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <!-- Section Title -->
                <div class="section-title mb-50">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">History<img src="assets/images/line2.png" alt="line"></span>
                    <h2 class="text-anm">FROM&nbsp; 1784 &nbsp;TO&nbsp; 1861</h2>

                    <p data-aos="fade-up" data-aos-duration="1200">Archaeological and historical pursuits in India started with the efforts of Sir William Jones, who put together a group of antiquarians to form the Asiatic Society on 15th January 1784 in Calcuta. The efforts put by Jones had a long backing, of enthusiasts and dilettantes like Tavernier, Finch and Bernier, Thevenot, Careri, Fryer, Ovington, Hamilton, Anquetil du Perron, Joseph Tieffenthaler, William Chamber, to name a few, who carried out survey of
                        monuments in various parts of India, earlier.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">This endeavour put forward by Jones culminated in the publication of a periodical journal named, Asiatick Researches started in 1788. The journal brought to light the researches, surveys carried out by the society to make the public aware of the antiquarian wealth of India. The continuing fieldwork soon brought to light many antiquities and other remains which were later housed in a museum in 1814. Later, similar societies were started at Bombay
                        (Mumbai) in 1804 and at Madras (Chennai) in 1818.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The identification of Chandragupta Maurya with Sandrokottos of Greek historians by Jones enabled to fix a chronological horizon of Indian history. This was followed by the identification of Pataliputra (Palibothra of classical writings) at the confluence of the Ganga and Son. The decipherment of Gupta and Kutila script by Charles Wilkinson was a landmark in this aspect. Many individuals like H.T. Colebrooke, H.H. Wilson, Sir Charles Warre Malet, Lt.
                        Manby, William Erskine, Collin Mackenzie contributed enormously in furthering the research and documentation.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The appointment of Francis Buchanan in 1800 by Marquis of Wellesley to survey Mysore was a positive step by the then government. In 1807 he was engaged to survey monuments and antiquities in parts of present day Bihar and Uttar Pradesh. The repair to the monuments were not thought of during this period and very sparsely certain monuments like Taj Mahal, Fatehpur Sikri and Sikandara were repaired.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The Bengal Regulation XIX of 1810 was the first attempt to make the government to intervene in case of risks to monuments through legislation.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">In 1833 James Prinsep became the secretary of the Asiatic Society. His most eventful achievement is the decipherment of the Brahmi and Kharoshthi scripts between 1834 and 1837. The identification of Piyadasi with Asoka and the contemporary kings mentioned in his Rock Edict XIII enabled to fix a clear chronological bench mark for Indian history. The excavations at Manikyala stupa (now in Bangladesh) in 1830 and in sites in the Indus – Jhelum region
                        in 1833 and 1834 revealed Buddhist relics and through coins a new ruling family, the Kushanas was identified.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Many individuals who contributed enormously, included James Fergusson who carried out extensive surveys of the rock-cut monuments in India between 1829 and 1847; Markham Kittoe in east India discovering the Dhauli rock-edict, and his surveys in Gaya and Sarnath; Edward Thomas in the field of numismatics; Cunningham who helped Prinsep in the investigations on the Indo-Greek and Indo-Scythic dynasties and also explored stupas in Bhilsa, etc; Walter
                        Eliott who followed the work of Collin Mackenzie and copied nearly 595 inscriptions from Dharwar, Sonda and north Mysore, also reconstructed dynastic history of Chalukyas and other south Indian dynasties through coins; Colonel Meadows Taylor who carried out extensive surveys on the megalithic monuments of south India; Dr. Stevenson and Dr. Bhau Daji carried out surveys of the cave-inscriptions of western India.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Meanwhile Alexander Cunningham a Second Lieutenant of the Bengal Engineers who initially assisted James Prinsep formulated a plan in 1848 for an Indian Archaeological Survey and placed it before the British government, but, without success. During the same period many eventful decisions were taken by the government on the recommendations of the Royal Asiatic Society of the United Kingdom . Upon these recommendations, the Indian government sanctioned
                        a small amount for repairs to the monuments. Lord Hardinge initiated a system approving proposals submitted by individuals based on their research and knowledge of Indian antiquities. Some of them were Markham Kittoe, for conducting operations in Bihar and Banares; Major F. Maisey, for drawing the antiquities at Kalinjar and sculptures at Sanchi and Captain Gill to copy the paintings of Ajanta Caves; Lt. Brett to take impressions of the cave-inscriptions. The following years saw the uprising
                        of the Indian soldiers and the First War of Indian Independence in 1857 virtually put a standstill of archaeological pursuits.</p>


                    <h2 class="text-anm">FROM&nbsp; 1861 &nbsp;TO&nbsp; 1901</h2>

                    <p data-aos="fade-up" data-aos-duration="1200">The fresh proposal put by Alexander Cunningham was given due attention by Lord Canning, who sanctioned a scheme of survey in northern India . It was defined as: – “an accurate description-illustrated by plans, measurements, drawings or photographs and by copies of inscriptions-of such remains as deserve notice, with the history of them so far as it may be traceable, and a record of the traditions that are retained regarding them”.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Cunningham was appointed as the first Archaeological Surveyor from December 1861. He surveyed areas stretching from Gaya in the east to the Indus in the northwest, and from Kalsi in the north to the Narmada in the south, between 1861 and 1865. For this, he largely followed the footsteps of the Chinese pilgrim Hieun Tsang. However, the endeavours came to a sudden halt due to the abolition of the Archaeological Survey in 1866 by Lord Lawrence. In the
                        meanwhile however an act (XX) was passed in 1863, which vested powers with the government ‘to prevent injury to and preserve buildings remarkable for their antiquity or for their historical or architectural value’.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Lord Lawrence based on the suggestions by the then Secretary of State, Sir Stafford Northcote, called on the local governments to list historical buildings and obtain photographs of them. This was later followed by instructions to prepare casts of important buildings to understand the different architectural styles of India . The work was entrusted to four independent parties in Bombay , Madras , Bengal and the Northwestern Provinces . Individuals
                        like Sykes and Burgess in Bombay; Lt. H.H. Cole in Kashmir, Mathura and other places; Rajendralal Mitra in Orissa contributed a lot under this scheme.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The attention of the government for undertaking repairs and conservation, protecting the ancient monuments from falling into disuse was not drawn until Duke of Argyll, the new Secretary of State, advised the Government of India to establish a central department to tackle the archaeological problems of the whole country. He also stressed on the need for conservation of monuments stating that it was the bounden duty of the Government ‘to prevent its
                        own servants from wantonly accelerating the decay’ of monuments.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The Archaeological Survey was revived as a distinct department of the government and Cunningham was appointed as Director General who assumed his charge in February 1871. The department was entrusted with the task of doing – ‘a complete search over the whole country, and a systematic record and description of all architectural and other remains that are either remarkable for their antiquity, or their beauty or their historical interest’. Cunningham
                        was also entrusted – ‘to direct his attention to the preparation of a brief summary of the labours of former enquirers and of the results which had already been obtained and to the formulation of a general scheme of systematic enquiry for the guidance of a staff of assistance in present and future researches’.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Cunningham was given two assistants J.D. Beglar and A.C. Carlleyle who were later joined by H.B.W. Garrik. Cunningham resumed surveys in Delhi and Agra in 1871; in 1872 he surveyed Rajputana, Bundelkhand, Mathura , Bodh Gaya and Gaur; in 1873, Panjab; between 1873 and 1877, Central Province , Bundelkhand and Malwa. To initiate the survey in a systematic way Alexander Cunningham chose to record the Buddhist finds and monuments by plotting them on a
                        map so as to understand the ancient trade route.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The surveys of Cunningham led to several discoveries such as monolithic capitals and other remains of Asoka, specimens of architecture of Gupta and post-Gupta period; great stupa of Bharhut; identification of ancient cities namely: Sankisa, Sravasti and Kausambi. He also brought to prominence the Gupta temples at Tigawa, Bilsar, Bhitargaon, Kuthra, Deogarh and Gupta inscriptions at Eran, Udayagiri and other places.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The founding of the journal Indian Antiquary in 1872 by James Burgess enabled publication of important inscriptions and their decipherment by scholars like Buhler and Fleet, Eggeling and Rice, Bhandarkar and Indraji. Cunningham also brought a new volume known as Corpus Inscriptionum Indicarum which was aimed at publishing inscriptions of connected epigraphical material in a compact and handy volume. On the proposal of Cunningham to set up an
                        Epigraphical Survey to meet the growing demand of deciphering and interpreting the inscriptions, the government appointed J.F. Fleet as Government Epigraphist in January 1883 for a period of three years. Fleet extensively surveyed and brought to light many new inscriptions and also solved the problem related to Gupta era and he set up a new pattern and standard for the publication process of inscriptions which is followed even today.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The enactment of the Treasure Trove Act, 1878 was a landmark in the confiscation and safety of treasures and antiquities found during chance digging. Lytton in 1878 observed that conservation of ancient monuments cannot be exclusively left to the charge of the Provincial Governments as directed by the Central Government in 1873 and this has to be brought under the purview of the Government of India. Thus regard Major H.H. Cole was appointed as
                        Curator of ancient monuments during the period of Ripon in 1881 to assist the Provincial and Central government in all matters related to conservation of monuments. He produced many preliminary reports on the monuments of Bombay , Madras , Rajputana, Hyderabad , Panjab and the Northwestern Provinces . Again the conservation work was assigned to the local governments when the tenure of Cole ended in 1883.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">By the time Cunningham retired in 1885 he recommended to the government to abolish the post of Director General and reorganise north India into three independent circles, viz., Panjab, Sind and Rajputana; Northwestern Provinces (Uttar Pradesh) and Central Provinces; and Bengal including Bihar, Orissa, Assam and Chhota Nagpur, each managed by a Surveyor with a staff of two assistants and two draftsmen. The regions of Madras , Bombay and Hyderabad
                        were recommended to be placed under Burgess and epigraphy under Fleet. Thus Bengal came under Beglar, Northwestern Provinces under Major J.B. Keith with Dr. A. Fuhrer as his assistant, Panjab came under C.J. Rodgers.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The other important events during this period was the extensive surveys carried out by Burgess in western India between 1871 and 1885 and also with his assistants Alexander Rea in south India from 1882 many new areas were explored and discovered. Dr. E. Hultzsch was appointed as Epigraphist in 1886 for a period of five years for deciphering and interpreting Sanskrit, Pali and Dravidian languages. Burgess was also called to take the additional
                        responsibility along with the archaeological surveyor of south India to scrutinise the reports submitted by the three new Circles.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Burgess became the Director General in March 1886 and on his recommendations the government unified the three separate circles under one head along with the three different fields of operation namely exploration, conservation and epigraphy. Among the major works carried out by Burgess the important ones are survey made by Fuherer and Smith between 1886 and 1887 of the Sharqi architecture of Jaunpur and monuments of Zafarabad, Saheth and Maheth and
                        Ayodhya. Smith also carried out surveys in Budaon, Lalitpur, Orcha, Bundelkhand. Henry Cousens carried out surveys in north Gujarat and Bijapur while Rea undertook survey of Mahabalipuram, Krishna , Nellore and Godavari .</p>

                    <p data-aos="fade-up" data-aos-duration="1200">During the tenure of Burgess the Kankali Tila at Mathura was excavated in 1887-1888. He was also instrumental in bringing out two important directives which debarred public officers from disposing antiquities without official approval and prohibiting digging of ancient remains without the consent of the Archaeological Survey. He also started a new publication known as Epigraphica Indica in 1888 which was edited by great scholars like Buhler,
                        Kielhorn and Eggeling.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">He also published twenty volumes of which seven formed part of the Archaeological Survey of India , New Imperial Series. Perhaps in retrospection on the voluminous work done Burgess also, like Cunningham, thought that a large survey organization is not required to do the remaining work. He therefore recommended to the government to abolish the post of Director General and divide the entire country into two circles one under Cousens and other under
                        Rea. Thus chaos and confusion returned and Archaeological Survey as a central body ceased to exist. There were only two Surveyors now known as Superintendents working in the west and south while Fleet was assigned the duties of epigraphical research. Hultzch was also retained as Government Epigraphist at Madras for a period of three years.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The following years saw utter chaos and disorganization while the publication of survey reports virtually ended. In each and every field the results were lagging behind and voluminous quantity of work was to be done. In 1895 the Government of India understood the reality and for a while requested the Asiatic Society to bear the responsibilities which the latter refused. However it took a long time before proposals were called from the local
                        governments, scholars from Royal Asiatic Society and Tawney, Buhler and Fleet. The proposal submitted to the Secretary of State put forth the following recommendations:</p>

                    <ol>
                        <li>Creation of five circles with an Archaeological Surveyor as head at: Bombay with Sind and Berar ; Madras and Coorg; Panjab, Baluchistan and Ajmer ; Northwestern Provinces and Central Provinces ; Bengal and Assam .</li>
                        <li>Conservation as the main aim of the Circle heads, excavation as secondary objective.</li>
                        <li>Whatever funds available were to be utilized for the preservation of monuments rather than exploration of unknown.</li>
                        <li>Epigraphy received a major support and Hultzsch was retained for south Indian inscriptions while honorary epigraphists were considered for other regions.</li>
                    </ol>

                    <p data-aos="fade-up" data-aos-duration="1200">The recommendations were accepted in May 1899 and also made provision of pension of those who joined Survey before that date. However, inspite of the firm footing for archaeological works the problem pointed out by Lord Lytton earlier in 1878 was not addressed.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The arrival of Lord Curzon was a blessing in disguise for the revival of Archaeological Survey of India. He observing the lack of coordinated efforts and the total disorganization of Circles proposed the revival of the post of Director General. He should be a trained explorer with archaeological knowledge and engineering skill – “He was required to exercise a general supervision over all the archaeological work of the country, whether it was that of
                        excavation, of preservation or of repair, of epigraphy, or of the registration and description of monuments and ancient remains. He would co-ordinate and bring up-to-date the local surveys and reports and should in addition present to Government an annual report of his work”.</p>


                    <h2 class="text-anm">FROM&nbsp; 1901 &nbsp;TO&nbsp; 1947</h2>

                    <p data-aos="fade-up" data-aos-duration="1200">In 1901 the recommendations were accepted and John Marshall was appointed as the new Director General. Lord Curzon totally centralized the Survey and vested the powers with the Director General of the Archaeological Survey of India. Marshall assumed charges in 1902 and a new era started in Indian archaeology.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">His principles on archaeological conservation are still valid and followed even by modern conservation experts. The main observations of Marshall were:</p>

                    <ol>
                        <li>Hypothetical restorations were unwarranted, unless they were essential to the stability of a building;</li>
                        <li>Every original member of a building should be preserved in tact, and demolition and reconstruction should be undertaken only if the structure could not be otherwise maintained;</li>
                        <li>Restoration of carved stone, carved wood or plaster-moulding should be undertaken only if artisans were able to attain the excellence of the old; and</li>
                        <li>In no case should mythological or other scenes be re-carved.</li>
                    </ol>

                    <p data-aos="fade-up" data-aos-duration="1200">He started the new series of publications namely Annual Reports of the Director General which contained the works and research activities carried out by the Survey. A separate branch for Arabic and Persian in Epigraphy was also created and Dr. Ross was appointed for this purpose. The most remarkable event in relation to protection of monuments is the enactment of Ancient Monuments Preservation Act 1904. In addition to the five Circles created in
                        1899 certain changes were made by appointing an architect for Muhammadan buildings in north India in 1902. On a strong pleading by Marshall in 1904 on the verge of expiry of his five years tenure for the retention of the Survey, the government accepted the proposal temporarily. Further, on 28th April 1906 , the government announced that the Survey was placed on a permanent and improved footing.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The sanctioned strength on that date was the Director General of Archaeology and Government Epigraphist for the whole of India; Superintendents of Western Circle covering Bombay, Sind, Hyderabad, Central India and Rajputana; Superintendent of the Southern Circle, covering Madras and Coorg, and an attached Assistant Superintendent for Epigraphy; Superintendent and Archaeological Surveyor of the Northern Circle, covering the United Provinces, Panjab,
                        Ajmer, Kashmir and Nepal; Superintendent and Assistant Superintendent of the Eastern Circle, covering Bengal, Assam, Central Provinces and Berar; Superintendent of the Frontier Circle, covering the Northwest Frontier Province and Baluchistan; and Superintendent of the Burma Circle.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">In 1912 the government again seriously considered to abolish the post of Director General and replace it by a Professor of archaeology attached to a proposed oriental research institute. However, it was not carried through. An Archaeological Chemist and Deputy Director General were added to the strength in 1917 and 1918 respectively. The Montague-Chelmsford Reforms of 1919 made important changes in the administration of the Survey while the
                        Devolution Rules of 1921 laid down archaeology as a Central subject. The Eastern Circle was renamed as Central Circle and a new Eastern Circle , with Calcutta as headquarters, was created.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The years 1921-22 saw the discovery of the Indus Civilization and subsequently a separate Exploration Branch with a Deputy Director General and three Assistant Superintendents was created. Explorations and excavations were given due attention. The Provincial Governments were left with only the statutory power of declaring a monument protected.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Sir John Marshall relinquished the post of Director General in 1928 and retired on 19th March 1931 as he had to write a series of monographs on Mohenjodaro, Harappa , Taxila, Sanchi, Mandu, Delhi , Agra and Multan . H. Hargreaves succeeded Marshall as Director General in 1928 and his recommendation for abolition of the Superintendent of Hindu and Buddhist Monuments at Lahore and Superintendent of Muhammadan and British Monuments at Agra into an
                        Assistant Superintendent attached to Frontier Circle and Superintendent of Northern Circle was accepted in 1931.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Rai Bahadur Daya Ram Sahni succeeded him in July 1931. His period saw a curtailment both in posts and funds to be followed by a reverse trend in functioning. The Annual Reports soon had a huge backlog and in 1935 a special officer was appointed to clear them. J.F. Blakiston succeeded as Director General in 1935 during which period through the Government of India Act of 1935 the Central Government assumed all powers vested with the Provincial
                        Government. Under certain amendments in the Ancient Monuments Preservation Act foreign institutions were allowed to undertake fieldwork in India , through which Chanhudaro in Sind was explored and excavated.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Rao Bahadur K.N. Dikshit succeeded in 1937 and the exploration in Sind was revived. However, it met with a tragic end with the death of the team leader Shri N.G. Majumdar at the hand of dacoits. During this period Sir Leonard Woolley was appointed as a foreign expert to report on the matters relating to future excavations. His report highly condemned the nature and policies of the government relating to excavation, the techniques adopted and
                        involved. However he praised the conservation activities carried out by the survey and he did not comment anything on epigraphical activities. He also recommended large-scale excavation of certain sites; the prominent among them was Ahichchhatra in Bareilly district, Uttar Pradesh under the supervision of a competent archaeologist. Hence Ahichchhatra was excavated under the direction of K.N. Dikshit between 1940-1944. The intervening period saw some setback due to World War II, which slowed
                        down the progress of survey.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">R.E.M. Wheeler succeeded K.N. Dikshit as Director General in 1944 on a contract of four years. He revived the Excavation Branch under an Assistant Superintendent, which was later elevated to Superintendent. He laid special emphasis on exploration, excavation techniques and to solve the problems related to chronology. In 1945 conservation was centralised and brought under the purview of Survey for which additional staff were sanctioned. A
                        prehistorian in the rank of Assistant Superintendent was also created. To meet the additional work at the headquarters, a post of Joint Director General was created in 1935. A Superintendent of Publications was also created to cater to the needs of high quality publication on the works carried out by the Survey.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">He excavated three important sites namely Arikamedu in Pondicherry Brahmagiri in Karnataka and Taxila (now in Pakistan ) to ascertain and fix clear chronological timeframe for Indian history which was eluding the archaeologists so long. These excavations were also utilized for training the Indian students in excavation technique, conservation and other related aspects. Wheeler introduced the stratification technique of excavation which was in vogue
                        during that time and improved the system of reporting and publishing. He brought out a new series of publication namely the Ancient India which itself contained detailed excavation reports of many sites apart from research articles and reports on field surveys.</p>


                    <h2 class="text-anm">FROM&nbsp; 1947 &nbsp;ONWARDS</h2>

                    <p data-aos="fade-up" data-aos-duration="1200">N.P. Chakravarti succeeded Wheeler in April 1948. His period saw the organization of a large-scale exhibition at New Delhi in 1948 on the Indian art objects. These objects were originally exhibited in London in 1947 and later on its return to India formed the nucleus of the National Museum which was opened on 15th August 1949 .</p>

                    <p data-aos="fade-up" data-aos-duration="1200">On India becoming a republic and adopting the Constitution the following functions relating to archaeology pertaining to the Union and the State Governments were made:</p>

                    <ol>
                        <li>Union : ancient and historical monuments ….and archaeological sites and remains, declared by the Parliament by law to be of national importance;</li>
                        <li>State: ancient and historical monuments …other than those declared by Parliament to be of national importance.</li>
                        <li>Besides these two categories, both the Union and the States would have concurrent jurisdiction over archaeological sites and remains other than those declared by Parliament by law to be of national importance. N.P. Chakravarti relinquished his post in June 1950 to continue until 1952 as advisor to the Survey. Madhav Swaroop Vats succeeded him and his period saw the enactment of the Ancient and Historical Monuments and Archaeological Sites and Remains (Declaration of National Importance)
                            Act in 1951. A. Ghosh succeeded Vats in 1953.</li>
                    </ol>

                    <p data-aos="fade-up" data-aos-duration="1200">The activities in post-Independence India saw great strides and development in the field of Archaeological Survey of India. The Circles which were created on regional basis largely following the geographical jurisdiction the States, are now rechristened on the basis of the city where the Circle Headquarter is located. Mostly, every state had a Circle usually in the state capital and named after the city in which the Circle is located. However, in
                        states having larger area often two or three circles look after the protection of monuments. For example, three Circles administer Uttar Pradesh with headquarters at: Agra, Lucknow and Patna , while Chandigarh Circle looks after monuments located in the states of Haryana and Punjab .</p>

                    <p data-aos="fade-up" data-aos-duration="1200">At present there are 37 Circles looking after more than 3600 monuments.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The following Acts were enacted for better preservation and maintenance of monuments and also to prevent illegal trafficking of antiquities and art treasures.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Ancient Monuments and Archaeological Sites and Remains Act,1958</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The Ancient Monuments and Archaeological Sites and Remains (Amendment and Validation) Act, 2010</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Antiquities and Art Treasures Act,1972</p>

                    <p data-aos="fade-up" data-aos-duration="1200">In addition to the above periodical amendments and regulations were added to cope with the changing scenario and to protect the monuments. One such action is the declaration of Prohibited area, 100 m from protected limits and further 200 m as Regulated Area from the prohibited limits, to prevent encroachments and unregulated constructions near protected monuments.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">The Treasure Trove Act 1878 and the Ancient Monuments Preservation Act, 1904 are also in vogue in addition to the above-mentioned legislation.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">Many new publications were also started during the post-Independence era. Prominent among them was the Indian Archaeology-A Review an annual publication reviewing all the activities conducted in the country.</p>

                    <p data-aos="fade-up" data-aos-duration="1200">In addition, many publications started earlier like the Epigraphia Indica and its supplements Epigraphia Indo-Moslemica which was later renamed as Epigraphia Indo-Moslemica – Arabic and Persian Supplement, Memoirs of the Archaeological Survey of India, Corpus Inscriptionum Indicarum, etc. are also continue.</p>
                </div>

            </div>
        </div>

    </div>
</section>
<!--======  Start About Section  ======-->
<section class="renvia-about_two pt-50 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-10">
                <!-- Renvia Content Box -->
                <div class="renvia-content-box">
                    <div class="section-title text-center mb-30">
                        <span class="sub-title" data-aos="fade-up" data-aos-duration="1000">Activity<img src="assets/images/line2.png" alt="line"></span>
                        <h2 class="text-anm">ASI is a large organization with an organized work force at the base and the Director General at the apex. Its major activities inter-alia are as under: –</h2>
                    </div>
                    <ul>
                        <li style="font-weight: 400;" aria-level="1"><b>1.</b><span style="font-weight: 400;">Conducting archaeological explorations and excavations;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>2.</b><span style="font-weight: 400;">Maintenance, conservation and preservation of protected monuments and archaeological sites and remains of national importance;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>3.&nbsp;</b><span style="font-weight: 400;">Chemical preservation of monuments and antiquarian remains;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>4.&nbsp;</b><span style="font-weight: 400;">Architectural survey of monuments;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>5.&nbsp;</b><span style="font-weight: 400;">Epigraphical and numismatic studies;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>6.&nbsp;</b><span style="font-weight: 400;">Setting up and re-organization of Site Museums;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>7.&nbsp;</b><span style="font-weight: 400;">Training in Archaeology;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>8.&nbsp;</b><span style="font-weight: 400;">Bringing out archaeological publications;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>9.&nbsp;</b><span style="font-weight: 400;">Archaeological expeditions outside India;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>10.&nbsp;</b><span style="font-weight: 400;">Horticulture operation in and around ancient monuments and sites;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>11.&nbsp;</b><span style="font-weight: 400;">Implementation and regulation of – The Ancient Monuments and Archaeological Sites and Remains Act, 1958;</span></li>
                        <li style="font-weight: 400;" aria-level="1"><b>12.&nbsp;</b><span style="font-weight: 400;">The Antiquities and Art Treasures Act, 1972, etc.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End About Section  ======-->