<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>Act Rules</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Act Rules</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->