<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>Who Is Who</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Who Is Who</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->
<section class="renvia-team-sec pt-50 pb-90">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><span class="line"></span><img src="assets/images/line1.png" alt="line">Who Is Who<img src="assets/images/line2.png" alt="line"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <!--=== Renvia Team Item ===-->
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1000">
                    <div class="member-image">
                        <img src="assets/images/director.jpeg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Director (Archaeology)</span>
                                <h4 class="title"><a href="#">Shri Zulfequar Ali</a></h4>
                                <p>Email-1 : <a href="mailto:circle.jhansi-asi@gov.in"><span style="font-weight: 400;">circle.jhansi-asi@gov.in</span></a></p>
                                <p>Email-2 : <a href="mailto:circlejhansi.asi@gmail.com"><span style="font-weight: 400;">circlejhansi.asi@gmail.com</span></a></p>
                                <p>Phone : 0510-2442325</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Dy. Superintending Archaeologist</span>
                                <h4 class="title"><a href="team-details.html">Shri Samir Diwan</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Assistant Superintending Archaeologist</span>
                                <h4 class="title"><a href="team-details.html">Dr. Jalaj Kumar Tiwari</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Assistant Superintending Archaeological Engineer</span>
                                <h4 class="title"><a href="team-details.html">Shri Manoj Kumar Verma</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Assistant Superintending Archaeological Engineer</span>
                                <h4 class="title"><a href="team-details.html">Shri Niraj Tiwari</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Assistant Archaeologist</span>
                                <h4 class="title"><a href="team-details.html">Shri Sachin Kushwaha</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Assistant Archaeologist</span>
                                <h4 class="title"><a href="team-details.html">Shri Ashutosh Jaiswal</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Jr. Administrative Officer&nbsp;</span>
                                <h4 class="title"><a href="team-details.html">Shri Dan Bahadur Yadav</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">Draughtman Gr-II</span>
                                <h4 class="title"><a href="team-details.html">Shri Nishant Tripathi</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">UDC</span>
                                <h4 class="title"><a href="team-details.html">Shri Kunj Bihari Sharan</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">UDC</span>
                                <h4 class="title"><a href="team-details.html">Shri Biswajit Singha</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="renvia-team-item style-two mb-30" data-aos="fade-up" data-aos-duration="1200">
                    <div class="member-image">
                        <img src="assets/images/blank.jpg" alt="team image">
                        <div class="social-box">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="hover-content">
                            <div class="member-info">
                                <span class="position">LDC</span>
                                <h4 class="title"><a href="team-details.html">Shri Pramod Kumar</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>