<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>Contact-Us</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Contact-Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->
<section class="renvia-contact-info-sec pt-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50" data-aos="fade-up" data-aos-duration="1000">
                    <h2>Our Contact Information</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-6 col-sm-12">
                <!--=== Renvia Info Box ===-->
                <div class="renvia-info-left-box mb-40" data-aos="fade-up" data-aos-duration="1000">
                    <div class="icon">
                        <i class="far fa-map-marker-alt"></i>
                    </div>
                    <div class="content">                       
                        <div class="elementor-widget-container">
                            <p><span style="font-weight: 400;">Archaeological Survey of India</span></p>
                            <p><span style="font-weight: 400;">Jhansi Circle, 36 Rani Laxmi Bai Mahal, Jhansi- 284002(U.P.)</span></p>
                            <p><span style="font-weight: 400;">Phone: 0510-2442325, 2970968&nbsp;</span></p>
                            <p><span style="font-weight: 400;">Email: </span><a href="mailto:circle.jhansi-asi@gov.in"><span style="font-weight: 400;">circle.jhansi-asi@gov.in</span></a><span style="font-weight: 400;">, </span><a href="mailto:circlejhansi.asi@gmail.com"><span style="font-weight: 400;">circlejhansi.asi@gmail.com</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
                <!--=== Renvia Info Box ===-->
                <div class="renvia-info-left-box mb-40" data-aos="fade-up" data-aos-duration="1200">
                    <div class="icon">
                        <i class="far fa-map-marker-alt"></i>
                    </div>
                    <div class="content">
                      
                        <div class="elementor-widget-wrap elementor-element-populated">
                            <div class="elementor-element elementor-element-157b04f elementor-widget elementor-widget-text-editor" data-id="157b04f" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                    <p><span style="font-weight: 400;">भारतीय पुरातत्त्व सर्वेक्षण&nbsp;</span></p>
                                    <p><span style="font-weight: 400;">झाँसी मण्डल, 36 रानी लक्ष्मी बाई महल, झाँसी- 284002 (उ.प्र.)</span></p>
                                    <p><span style="font-weight: 400;">दूरभाष: 0510-2442325, 2970968&nbsp;</span></p>
                                    <p><span style="font-weight: 400;">ईमेल : </span><a href="mailto:circle.jhansi-asi@gov.in"><span style="font-weight: 400;">circle.jhansi-asi@gov.in</span></a><span style="font-weight: 400;">, </span><a href="mailto:circlejhansi.asi@gmail.com"><span style="font-weight: 400;">circlejhansi.asi@gmail.com</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Contact Info Section  ======-->
<section class="contact-map-sec" data-aos="fade-up" data-aos-duration="1000">
    <!--=== Map Box ===-->
    <div class="map-box mt-5 mt-xl-0" data-aos="fade-up" data-aos-duration="1200">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14410.153193733706!2d78.56798170555412!3d25.45369495915216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397776da2eb12ed3%3A0xc1971f661130ab0a!2sRani%20Mahal%20Jhansi!5e0!3m2!1sen!2sbd!4v1787432547436!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>
</section>