<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>About Jhansi Circle</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>About Jhansi Circle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->
<!--======  Start About Section  ======-->
<section class="renvia-about_two pt-120 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <!-- Renvia Image Box -->
                <div class="renvia-image-box mb-5 mb-xl-0" data-aos="fade-up" data-aos-duration="1000">
                    <div class="renvia-image">
                        <img src="assets/images/Rani_Jhansi.jpg" alt="about image">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <!-- Renvia Content Box -->
                <div class="renvia-content-box">
                    <div class="section-title">
                        <span class="sub-title" data-aos="fade-up" data-aos-duration="1000">About JHANSI CIRCLE<img src="assets/images/line2.png" alt="line"></span>
                        <h2 class="text-anm">ABOUT JHANSI CIRCLE- A SUMMARY</h2>
                    </div>
                    <p data-aos="fade-up" data-aos-duration="1000"><span style="font-weight: 400;">Jhansi circle was created on </span><i><span style="font-weight: 400;">August 28</span></i><i><span style="font-weight: 400;">th</span></i><i><span style="font-weight: 400;">, 2020,</span></i><span style="font-weight: 400;"> bi-furcating the Lucknow circle. The circle consists the Bundelkhand region of Uttar Pradesh including Banda, Chitrakut, Hamirpur, Jalaun, Jhansi, Mahoba and Lalitpur districts. As on today, there
                            are 173 monuments/sites under the jurisdiction of Jhansi Circle.</span></p>
                    <p data-aos="fade-up" data-aos-duration="1000"><span style="font-weight: 400;">Bundelkhand is bounded by the river Yamuna in the north and the Chambal in the northwest, the ranges of the Vindhya plateau in the south and Panna-Ajaygarh ranges in the south-east. The region of Bundelkhand is homogeneous dissected upland, presenting an old erosion surface, carved out of granite, with northern alluvial plains merging imperceptibly into the granitic uplands.&nbsp;</span></p>
                    <p data-aos="fade-up" data-aos-duration="1000"><span style="font-weight: 400;">The trans-Yamuna plain of Bundelkhand is characterized by soft and unconsolidated materials brought down by the tributaries of Yamuna, Chambal, Betwa and Ken. The frequent constriction of drainage by the dykes has resulted in creation of multiple small tanks which are playing important role in supply of water for agricultural activities. The Ganga-Yamuna River system plays an important role in agriculture with the
                            tributaries of these main rivers.&nbsp; The land, by and large, is fertile with black loamy soil, extremely good for wheat cultivation but the ravines of the region are challenging for survival. The Bundelkhand also possesses a rich flora and fauna.</span></p>
                    <p data-aos="fade-up" data-aos-duration="1000"><span style="font-weight: 400;">As a result, this is one of the richest regions in India in view of Archaeological Sites, Monuments and remains. The antiquity of the region goes back to Lower Paleolithic period. A number of sites, rock- shelters containing stone tools and paintings have been discovered from different localities. The monuments and sites include forts, temples, tombs, mosques, colonial memorials, cemeteries and Maratha </span><i><span
                                style="font-weight: 400;">chhatris</span></i><span style="font-weight: 400;">.&nbsp;</span></p>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End About Section  ======-->
<section class="renvia-about_two pt-120 pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <!-- Section Title -->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Important Monuments<img src="assets/images/line2.png" alt="line"></span>
                    <h3 class="text-anm">Important monuments under Jhansi Circle include:</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Temples and Shrines<img src="assets/images/line2.png" alt="line"></span>
                    <hr>
                    <ul class="check-list style-one">
                        <li><i class="fas fa-shield-check"></i>Dasavatar Temple at Deogarh (Lalitpur)</li>
                        <li><i class="fas fa-shield-check"></i>Khakra Math and Rahilya Temple, Mahoba (Mahoba)&nbsp;</li>
                        <li><i class="fas fa-shield-check"></i>Jarai ka Math at Barua Sagar (Jhansi),&nbsp;</li>
                        <li><i class="fas fa-shield-check"></i>Stone temple at Ganesh Bagh, (Karvi),</li>
                        <li><i class="fas fa-shield-check"></i>Group of Monuments at Dudhai and Chandpur in district Lalitpur.</li>
                        <li><i class="fas fa-shield-check"></i>Balarinath temple at Gulrampur (Banda)</li>
                        <li><i class="fas fa-shield-check"></i>Group of temples Madanpur, Chandpur and Dudhai</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Mosques and Tomb and Cemeteries<img src="assets/images/line2.png" alt="line"></span>
                    <hr>
                    <ul class="check-list style-one">
                        <li><i class="fas fa-shield-check"></i>Jama Masjid, Erich (Jhansi)</li>
                        <li><i class="fas fa-shield-check"></i>Jama Masjid, Mahoba (Mahoba)</li>
                        <li><i class="fas fa-shield-check"></i>Jama Masjid, Banda</li>
                        <li><i class="fas fa-shield-check"></i>Churasi Gumbad, Kalpi (Jalaun)</li>
                        <li><i class="fas fa-shield-check"></i>Raja Gangadhar Rao ki Chhatri, Jhansi,</li>
                        <li><i class="fas fa-shield-check"></i>Cemeteries at Konch, Kalpi and Jhansi</li>
                        <li><i class="fas fa-shield-check"></i>Cemeteries at Jakhlon, Jhansi</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Fort And Places<img src="assets/images/line2.png" alt="line"></span>
                    <hr>
                    <ul class="check-list style-one">
                        <li><i class="fas fa-shield-check"></i>Jhansi Fort (Jhansi)</li>
                        <li><i class="fas fa-shield-check"></i>Kalinjar Fort (Banda)</li>
                        <li><i class="fas fa-shield-check"></i>Marpha Fort (Banda)</li>
                        <li><i class="fas fa-shield-check"></i>Talbehat Fort (Lalitpur)</li>
                        <li><i class="fas fa-shield-check"></i>Rani Mahal, Jhansi</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Water Bodies<img src="assets/images/line2.png" alt="line"></span>
                    <hr>
                    <ul class="check-list style-one">
                        <li><i class="fas fa-shield-check"></i>Madan Sagar, Kirat Sagar and Vijay Sagar (Mahoba)</li>
                        <li><i class="fas fa-shield-check"></i>Brahma Tal, Sukura (Mahoba)</li>
                        <li><i class="fas fa-shield-check"></i>Large tank, Patkari (Mahoba)</li>
                        <li><i class="fas fa-shield-check"></i>Rahil sagar, Sun Temple, Rahilia (Mahoba)&nbsp;&nbsp;</li>
                        <li><i class="fas fa-shield-check"></i>Tank at Barua Sagar (Jhansi)</li>
                        <li><i class="fas fa-shield-check"></i>Water Bodies inside the Kalinjar and Marpha Forts</li>
                        <li><i class="fas fa-shield-check"></i>Tanks attached to stone Temple, Karvi (Chitrakut)&nbsp;</li>
                        <li><i class="fas fa-shield-check"></i>A Large Chandella tank, Rawatpur (Mahoba)</li>
                        <li><i class="fas fa-shield-check"></i>Baratal, Srinagar (Mahoba)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End About Section  ======-->