<footer class="main-footer footer-v1">
    <div class="container">
        <!--=== Footer Widget Area ===-->
        <div class="footer-widget-area pt-80 pb-30">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-about-widget mb-40" data-aos="fade-up" data-aos-duration="800">
                        <div class="widget-content">
                            <div class="footer-logo mb-30">
                                <a href="index.html"><img src="assets/images/home-one/logo/logo.png" alt="Brand Logo"></a>
                            </div>
                            <p>Jhansi circle was created onAugust 28th, 2020,bi-furcating the Lucknow circle. The circle consists the Bundelkhand region of Uttar Pradesh including Banda, Chitrakut, Hamirpur, Jalaun, Jhansi, Mahoba and Lalitpur districts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-nav-widget mb-40 ms-0 ms-lg-5" data-aos="fade-up" data-aos-duration="1000">
                        <div class="widget-content">
                            <h4 class="widget-title">Quick Links</h4>
                            <div class="line-wrap"><span></span><span></span><span></span></div>
                            <ul class="widget-nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About ASI</a></li>
                                <li><a href="#">About Jhansi Circle</a></li>
                                <li><a href="#">Who is Who</a></li>
                                <li><a href="#">Monuments</a></li>                           
                                                    
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-nav-widget mb-40" data-aos="fade-up" data-aos-duration="1200">
                        <div class="widget-content">
                            <h4 class="widget-title">Our Services</h4>
                            <div class="line-wrap"><span></span><span></span><span></span></div>
                            <ul class="widget-nav">
                                   <li><a href="#">Public Awareness</a></li>
                                   <li><a href="#">Gallery</a></li>       
                                <li><a href="#">Videos</a></li>
                                <li><a href="#">Who is Who</a></li>
                                <li><a href="#">Public Information</a></li>                                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <!--=== Footer Widget ===-->
                    <div class="footer-widget footer-newsletter-widget mb-40" data-aos="fade-up" data-aos-duration="1400">
                        <div class="widget-content">
                            <h4 class="widget-title">Contact Us</h4>
                            <div class="line-wrap"><span></span><span></span><span></span></div>                           
                                <p><span style="font-weight: 400;">Archaeological Survey of India</span>
                                <span style="font-weight: 400;">Jhansi Circle, 36 Rani Laxmi Bai Mahal, Jhansi- 284002(U.P.)</span></p>                             
                                <p>
                                    <span style="font-weight: 400;">Phone : 0510-2442325, 2970968&nbsp;</span><br>
                                    <span style="font-weight: 400;">Email : </span><a href="mailto:circle.jhansi-asi@gov.in"><span style="font-weight: 400;">circle.jhansi-asi@gov.in</span></a><span style="font-weight: 400;">, </span><a href="mailto:circlejhansi.asi@gmail.com"><span style="font-weight: 400;">circlejhansi.asi@gmail.com</span></a>
                                </p>                                                                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=== Copyright Area ===-->
        <div class="copyright-area">
            <div class="row">
                <div class="col-lg-8">
                    <!--=== Copyright Text ===-->
                    <div class="copyright-text text-lg-start text-center">
                        <p>&copy;Copyright 2022 , Archaeological Survey of India, Jhansi Circle, Jhansi, Govt. of India</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!--=== Copyright link ===-->
                    <div class="copyright-link text-lg-end text-center">
                        <a href="#">Act & Rules</a>
                        <a href="#">Publication</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!--======  End Footer  ======-->