<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>Public Awareness</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Public Awareness</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->
<section class="renvia-about_two pt-50 pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <!-- Section Title -->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Our Duties Towards Our Cultural Heritage <img src="assets/images/line2.png" alt="line"></span>
                    <h3 class="text-anm">Our Duties Towards Our Cultural Heritage </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Do's<img src="assets/images/line2.png" alt="line"></span>
                    <hr>
                    <ul class="check-list style-one">
                        <li><i class="fas fa-shield-check"></i>Help in keeping the monuments clean.</li>
                        <li><i class="fas fa-shield-check"></i>Help in maintaining the natural environment around the monuments.</li>
                        <li><i class="fas fa-shield-check"></i>Help in preventing and avoiding any kind of destruction of a monument by anyone. Report any such matter to the concerned staff.</li>
                        <li><i class="fas fa-shield-check"></i>Keep distance while looking at any displayed or easily reachable antiquity and painting etc.</li>
                        <li><i class="fas fa-shield-check"></i>Help in protecting unprotected monuments/ antiquities/ etc.</li>
                        <li><i class="fas fa-shield-check"></i>Help in creating cultural awareness among the masses.</li>
                        <li><i class="fas fa-shield-check"></i>Help in maintaining the sanctity of the monuments.</li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Don'ts<img src="assets/images/line2.png" alt="line"></span>
                    <hr>
                    <ul class="check-list style-one">
                        <li><i class="fas fa-shield-check"></i>Don’t litter or spoil any monument.</li>
                        <li><i class="fas fa-shield-check"></i>Don’t pluck flowers etc. from the monument garden.</li>
                        <li><i class="fas fa-shield-check"></i>Don’t paint, draw or whitewash any wall, etc. in and around the monuments.</li>
                        <li><i class="fas fa-shield-check"></i>Don’t touch any painting etc. and neither throw nor divert any water, flashlights and use ritual objects, etc. over them.</li>
                        <li><i class="fas fa-shield-check"></i>Don’t hamper or spoil the originality of any artifact/antiquity of an unprotected area/ monument.</li>
                        <li><i class="fas fa-shield-check"></i>Don’t underestimate the importance of any cultural heritage.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End About Section  ======-->
<!--======  Start Feature Section  ======-->
<section class="renvia-feature_two pt-50 pb-40 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><span class="line"></span><img src="assets/images/line1.png" alt="line">Public Awareness<img src="assets/images/line2.png" alt="line"></span>
                    <h2 class="text-anm">Shivaji Jayanti (16 Feb 2022)</h2>
                    <p> (Raja Gangadhar Rao ki Chhatri)<br>
                        (Open air Exhibition and Swachhata Abhiyan)</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-standard-wrapper">
                    <!-- Renvia Blog Item -->
                    <div class="renvia-blog-post-item style-four mb-40" data-aos="fade-up" data-aos-duration="1200">
                        <div class="post-thumbnail-slider">
                            <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/1.jpg" alt="post thumbnail">
                            </div>
                            <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/2.jpg" alt="post thumbnail">
                            </div>
                              <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/3.jpg" alt="post thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Feature Section  ======-->
<section class="renvia-feature_two pt-50 pb-40 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><span class="line"></span><img src="assets/images/line1.png" alt="line">Public Awareness<img src="assets/images/line2.png" alt="line"></span>
                    <h2 class="text-anm">occasion of National Tourism Day (25 Jan 2022)</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-standard-wrapper">
                    <!-- Renvia Blog Item -->
                    <div class="renvia-blog-post-item style-four mb-40" data-aos="fade-up" data-aos-duration="1200">
                        <div class="post-thumbnail-slider">
                             <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/11.jpeg" alt="post thumbnail">
                            </div>
                            <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/22.jpg" alt="post thumbnail">
                            </div>
                               <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/33.jpeg" alt="post thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Feature Section  ======-->
<section class="renvia-feature_two pt-50 pb-40 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><span class="line"></span><img src="assets/images/line1.png" alt="line">Public Awareness<img src="assets/images/line2.png" alt="line"></span>
                    <h2 class="text-anm">International Yoga Day</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-standard-wrapper">
                    <!-- Renvia Blog Item -->
                    <div class="renvia-blog-post-item style-four mb-40" data-aos="fade-up" data-aos-duration="1200">
                        <div class="post-thumbnail-slider">
                            <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/111.jpg" alt="post thumbnail">
                            </div>
                            <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/222.jpg" alt="post thumbnail">
                            </div>
                             <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/333.jpg" alt="post thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Feature Section  ======-->
<section class="renvia-feature_two pt-50 pb-40 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-down" data-aos-duration="1000"><span class="line"></span><img src="assets/images/line1.png" alt="line">Public Awareness<img src="assets/images/line2.png" alt="line"></span>
                    <h2 class="text-anm">Plantation drive at Baruasagar, Jhansi</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-standard-wrapper">
                    <!-- Renvia Blog Item -->
                    <div class="renvia-blog-post-item style-four mb-40" data-aos="fade-up" data-aos-duration="1200">
                        <div class="post-thumbnail-slider">
                            <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/1111.jpeg" alt="post thumbnail">
                            </div>
                            <div class="post-thumbnail">
                                <img src="assets/images/PublicAwareness/2222.jpg" alt="post thumbnail">
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Feature Section  ======-->