<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>Gallery</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->
<section class="renvia-feature_two pt-50 pb-40 overflow-hidden">
    <div class="container">
        <div class="row justify-content-center1">
            @for (item of gallery; track $index) {
            <div class="col-lg-4 col-md-4 col-12">
                <div class="gallery">
                    <img id="openModalBtn" (click)="getUrl(item.path)" class="img-fullwidth" [src]="getUrl(item.path)" style="width:100%;">
                    <div class="image-overlay"></div>
                </div>
            </div>
            }
        </div>
    </div>
    <style>
        .gallery {
            box-shadow: 1px 2px 12px #ccc;
            cursor: pointer !important;
            margin-bottom: 10px;
        }
    </style>
</section><!--======  End Feature Section  ======-->
