<!-- <div class="preloader">
            <div class="loading-wrapper">
                <div class="loading"></div>
                <div id="loading-icon"><img src="assets/images/loader.png" alt="loader"></div>
            </div>
        </div> -->
<!--====== Renvia Offcanvas Panel ======-->
<div class="renvia-offcanvas-panel">
    <div class="offcanvas-panel-inner">
        <div class="panel-header d-flex justify-content-between align-items-center">
            <h4 class="panel-widget-title">Incredible Places</h4>
            <div class="panel-close-btn"><i class="far fa-times"></i></div>
        </div>
        <div class="offcanvas-body">         
            <!-- Panel Box -->
            <div class="panel-box mb-40">              
                <!-- Renvia Project Item -->
                <div class="renvia-project-item mb-20">
                    <div class="project-thumbnail">
                        <img src="assets/images/JhansiFort.jpg" alt="tour image">                       
                    </div>
                </div>
                 <div class="renvia-project-item mb-20">
                    <div class="project-thumbnail">
                        <img src="assets/images/Sahasra-Linga-Chandpur-Lalitpur.jpg" alt="tour image">                       
                    </div>
                </div>
                   <div class="renvia-project-item mb-20">
                    <div class="project-thumbnail">
                        <img src="assets/images/Chhatari-of-Raja-Gangadhar.jpg" alt="tour image">                       
                    </div>
                </div>
                   <div class="renvia-project-item mb-20">
                    <div class="project-thumbnail">
                        <img src="assets/images/ChaurasiTomb.jpg" alt="tour image">                       
                    </div>
                </div>
                   <div class="renvia-project-item mb-20">
                    <div class="project-thumbnail">
                        <img src="assets/images/Chandel-temple-pachwara.jpg" alt="tour image">                       
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="offcanvas__overlay"></div>
<header class="header-area header-two">
    <div class="container-fluid" style="background:radial-gradient(#033f906b, #041658)">
        <div class="header-navigation">
            <!--====  Primary Menu  ===-->
            <div class="primary-menu">
                <!--====  Site Branding  ===-->
                <div class="site-branding d-xl-none">
                    <a href="index.html" class="brand-logo"><img src="assets/images/home-two/logo/logo.png" alt="Brand Logo"></a>
                </div>
                <!--=== Main Menu ===-->
                <div class="theme-nav-menu">
                    <!--=== Menu Top ===-->
                    <div class="theme-menu-top d-block d-xl-none">
                        <div class="site-branding">
                            <h3 href="/" class="brand-logo">Navigation</h3>
                        </div>
                    </div>
                    <!--=== Main Menu ===-->
                    <nav class="main-menu">
                        <ul>

                            <li class="menu-item"><a routerLink="/">Home</a></li>
                            <li class="menu-item has-children"><a href="#">About</a>
                                <ul class="sub-menu">
                                    <li><a routerLink="about-asi">About ASI</a></li>
                                    <li><a routerLink="about-jhansi-circle">About Jhansi Circle</a></li>
                                    <li><a routerLink="who-is-who">Who Is Who</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a routerLink="monuments">Monuments</a></li>
                            <li class="menu-item"><a routerLink="act-rules">Act & Rules</a></li>
                            <li class="menu-item"><a routerLink="publications">Publication</a></li>
                            <li class="menu-item d-xs-none">
                                    <div class="site-branding">
                                        <a href="/" class="brand-logo"><img src="assets/images/home-two/logo/logo.png" alt="Brand Logo"></a>
                                    </div>
                                </li>
                            <li class="menu-item"><a routerLink="public-awareness">Public Awareness</a></li>
                            <li class="menu-item"><a routerLink="gallery">Gallery</a></li>
                            <li class="menu-item"><a routerLink="video">Videos</a></li>
                            <li class="menu-item"><a routerLink="public-information">Public Information</a></li>
                            <li class="menu-item"><a routerLink="contact-us">Contact Us</a></li>
                        </ul>
                    </nav>
                    <!--===  Menu Bottom ===-->
                    <div class="theme-menu-bottom mt-50 d-block d-xl-none">
                        <h5>Follow Us</h5>
                        <ul class="social-link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--=== Header Nav Right ===-->
                <div class="nav-right-item">
                    <div class="offcanvas-toggle">
                        <i class="fas fa-th"></i>
                    </div>
                    <div class="navbar-toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header><!--=== End  Header Area  ===-->