<section class="page-hero bg_cover p-r z-1" data-src="assets/images/slider.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!--=== Page Content ===-->
                <div class="page-content text-center">
                    <h1>Publication</h1>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Publication</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End Page Hero Section  ======-->
<section class="renvia-about_two pt-120 pb-40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <!-- Section Title -->
                <div class="section-title text-center mb-50">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Publication<img src="assets/images/line2.png" alt="line"></span>
                    <h3 class="text-anm">View And Download Publication</h3>
                </div>
            </div>
        </div>      
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Cultural Heritage of Jhansi<img src="assets/images/line2.png" alt="line"></span>
                    <a href="{{ pdfUrl1 }}" data-aos="fade-up" data-aos-duration="1000" target="_blank" class="btn btn-danger btn-sm" style="float: right;"><i class="fas fa-download">&nbsp;</i>Download</a>
                    <hr>
                    <div class="pdf-wrapper">
                        <pdf-viewer [src]="pdfUrl1" [render-text]="true" [original-size]="false" [show-all]="true" style="width: 100%; height:500px;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">झाँसी की सांस्कृतिक धरोहर, झाँसी मंडल<img src="assets/images/line2.png" alt="line"></span>
                    <a href="{{ pdfUrl2 }}" data-aos="fade-up" data-aos-duration="1000" target="_blank" class="btn btn-danger btn-sm" style="float: right;"><i class="fas fa-download">&nbsp;</i>Download</a>
                    <hr>
                    <div class="pdf-wrapper">
                        <pdf-viewer [src]="pdfUrl2" [render-text]="true" [original-size]="false" [show-all]="true" style="width: 100%; height:500px;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Kalinjar Fort, Banda<img src="assets/images/line2.png" alt="line"></span>
                    <a href="{{ pdfUrl3 }}" data-aos="fade-up" data-aos-duration="1000" target="_blank" class="btn btn-danger btn-sm" style="float: right;"><i class="fas fa-download">&nbsp;</i>Download</a>
                    <hr>
                    <div class="pdf-wrapper">
                        <pdf-viewer [src]="pdfUrl3" [render-text]="true" [original-size]="false" [show-all]="true" style="width: 100%; height:500px;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">कालिंजर दुर्ग, बांदा<img src="assets/images/line2.png" alt="line"></span>
                    <a href="{{ pdfUrl4 }}" data-aos="fade-up" data-aos-duration="1000" target="_blank" class="btn btn-danger btn-sm" style="float: right;"><i class="fas fa-download">&nbsp;</i>Download</a>
                    <hr>
                    <div class="pdf-wrapper">
                        <pdf-viewer [src]="pdfUrl4" [render-text]="true" [original-size]="false" [show-all]="true" style="width: 100%; height:500px;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">Deogarh, lalitpur</span>
                    <a href="{{ pdfUrl5 }}" data-aos="fade-up" data-aos-duration="1000" target="_blank" class="btn btn-danger btn-sm" style="float: right;"><i class="fas fa-download">&nbsp;</i>Download</a>
                    <hr>
                    <div class="pdf-wrapper">
                        <pdf-viewer [src]="pdfUrl5" [render-text]="true" [original-size]="false" [show-all]="true" style="width: 100%; height:500px;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-10">
                <div class="content-box mb-20">
                    <span class="sub-title" data-aos="fade-up" data-aos-duration="1000"><img src="assets/images/line1.png" alt="line">देवगढ़ ललितपुर<img src="assets/images/line2.png" alt="line"></span>
                   <a href="{{ pdfUrl6 }}" data-aos="fade-up" data-aos-duration="1000" target="_blank" class="btn btn-danger btn-sm" style="float: right;"><i class="fas fa-download">&nbsp;</i>Download</a>
                    <hr>
                    <div class="pdf-wrapper">
                        <pdf-viewer [src]="pdfUrl6" [render-text]="true" [original-size]="false" [show-all]="true" style="width: 100%; height:500px;">
                        </pdf-viewer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--======  End About Section  ======-->